# Merge DataFrames

This little example will show you howo to merge to data sets that comes in two different files. 

First, we need to import the modules `csv`, and `pandas` (which we want to abbreviate `pd`).

In [3]:
import csv
import pandas as pd

Next, we read the file `people1.csv` into a dataframe using pandas build in csv reader.

In [4]:
people1_raw_data = pd.read_csv("people1.csv")
people1_raw_data

    Name  Height  Shoe Size
0  Devin     175          9
1   Pela     178         85
2    Jer     182         11

Next, we read the file `people2.csv`.

In [5]:
people2_raw_data = pd.read_csv("people2.csv")
people2_raw_data

    Name  Height  Shoe Size
0  Kevin     150          9
1  Jenny     145          6
2     Jo     170          6

Now, we want to concatenate both datasets, as both have the same format and similar data. Pandas allows to simply append one data frame to another through the `contcat` function: 

`pd.concat([DATA_FRAME_1, DATA_FRAME_2],ignore_index=True)`. Replace the two variables `DATA_FRAME_1` and `DATA_FRAME_2` by the data frames you want to concatenate. `ignore_index=True` tells python to create new indices for the resulting larger dataframe. This is useful as sometimes you might already have row indices in the two dataframes you want to combine; however, both frames start counting at 0 and when combining them, you cannot have two indices with the same value. You should set `ignore_index=False` if you are 100% sure that you have different indices in each file and want to keep them like that.

More informations on merges can be found here: https://pandas.pydata.org/pandas-docs/stable/merging.html.
 
Concat the two dataframes for `person1.csv` and `person2.csv`:

In [6]:
combined_raw_data = pd.concat([people1_raw_data, people2_raw_data], ignore_index=True)
combined_raw_data

    Name  Height  Shoe Size
0  Devin     175          9
1   Pela     178         85
2    Jer     182         11
3  Kevin     150          9
4  Jenny     145          6
5     Jo     170          6

# Loading JSON files

Besids CSV, Pandas can also load JSON file using:

`pd.read_json(FILE_NAME, orient=INDEX_FIELD)`

This function loads a file with the name `FILE_NAME` and sets the attribute `INDEX_FIELD` as the row label. 

Load `people.json` into a variable called `favourites`, using the attribute field `index` as labels:

In [7]:
favourites = pd.read_json("people.txt", orient="index") # orient <-> row label
favourites

              favourite book favourite food   favourite tv
Pela                     NaN      Ice Cream     Doctor Who
devin                    NaN            NaN   Donton Abbey
jenny  To Kill a Mockingbird            NaN   Downton Abey
jo              Oliver Twist            NaN     Doctor Who
kevin     Catcher in the Rye            NaN  Downton Abbey

# Joining DataFrame

Similar to merges, joins aggregate two data frames. However, other than concatenating the rows, joins add columns to rows. That's the simple explanation. The truth is a litte more complicated. In fact, join needs labels to match rows in one dataframe to rows in another dataframe set because you can't assume the rows in both dataframes are in the same order.

Thus, before we can join two dataframes, we need to be sure there is a label fiel in each dataframe with the exact same labels that can be used for matching. 

Looking at our data frames: the one contining the `person1.csv` plus `person2.csv` and the one from `person.json`, some names are uppper and some are lower case. Let's fix that first. 

Can you set all names in your combined dataframe for `person1.csv` and `person2.csv` to lowercase? You can use the `.map(str.lower)` function on the selection that returns you the `Name` column of the respective dataframe.

In [8]:
combined_raw_data["Name"] = combined_raw_data["Name"].map(str.lower)
combined_raw_data

    Name  Height  Shoe Size
0  devin     175          9
1   pela     178         85
2    jer     182         11
3  kevin     150          9
4  jenny     145          6
5     jo     170          6

Now, do the same for the `favourite` DataFrame. In this DataFrame, you can access the label field though `favourites.index`:

In [9]:
favourites.index = favourites.index.map(str.lower)
favourites

              favourite book favourite food   favourite tv
pela                     NaN      Ice Cream     Doctor Who
devin                    NaN            NaN   Donton Abbey
jenny  To Kill a Mockingbird            NaN   Downton Abey
jo              Oliver Twist            NaN     Doctor Who
kevin     Catcher in the Rye            NaN  Downton Abbey

Now, we can complete our join, using again the `merge` function: 

`merge(DATA_FRAME_1, DATA_FRAME_2, left_on=LABEL_1, right_on=True)`.

`DATA_FRAME_1` and `DATA_FRAME_2` are the two dataframes to join. `left_on` tells the function the column name of the `DATA_FRAME_1` that contains the labels. `right_on=True` tells the function that the labels in `DATA_FRAME_2` are in the index field. This is because our two dataframes have a slighly different internal structure. However, the `merge` function allows for merging a wide set of data frame formats.

Supplied with these parameters, pandas will merge the two dataframes so that each person has now 5 columns. 
    
More information here: https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

Can you merge all the dataframes (`person1.csv` and `person2.csv` with `favourite`?)

In [11]:
merged_data = pd.merge(combined_raw_data, favourites, left_on="Name",  right_on=True)

KeyError: True

Given this dataframe, can you find which is the most popular tv show?